<div class="container p-1">

    <div class="card " style="width: 300px; height: 600px;">
        <shop-item-image [image]="image"></shop-item-image>
        <div class="card-body">
            <h5 class="card-title">
                <shop-item-text [text]="text"></shop-item-text>
            </h5>
            <p class="card-text">
                <shop-item-details-text [details]="details" [id]="id"></shop-item-details-text>
            </p>
            <shop-item-price [price]="price"></shop-item-price>
        </div>
    </div>

</div>
